    <div class="container mt-5">
        <h3>The current temperature is <%=@current_temp%> and conditions are <%=@current_conditions%></h3>
        <a href="/" class="btn btn-primary">Set New Location!</a>
      </form>
    </div>

    <div class="container mt-5">
        <h3>Tomorrow's high will be <%=@forecast_temp1%> and will have <%=@forecast_conditions1%></h3>
        <div>
        <h3>Followed by a high of <%=@forecast_temp2%> and <%=@forecast_temp3%> on the subsequent days</h3>
        
      </form>
    </div>